<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Event Organizer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript">
            $(document).ready(function(){

            });
        </script>
    </head>
    <body>
        <div id="wrapper">
            <div id="add_event">
                <form action="/add" method="post" id="event">
                    <label>Create new event:</label>
                    <textarea name="event_text"></textarea>
                </form>
                
            </div>
        </div>
    </body>
</html>